.welcome{
  padding: 0 0 95px;
  .title{
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #394E5E;
    margin-bottom: 12px;
  }
  .subtitle{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #9F9F9F;
    margin: 0 auto 25px;
    max-width: 360px;
  }
  .box{
    max-height: 572px;
    display: flex;
    img{
      width: 40%;
      object-fit: cover;
    }
    &-table{
      padding: 35px 59px 44px 44px;
      background: linear-gradient(308.09deg, rgba(116, 164, 191, 0.7) -20.72%, rgba(38, 148, 163, 0.92) 103.13%);
      width: 60%;
      &__title{
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        letter-spacing: 0.03em;

        color: #FFFFFF;
        margin-bottom: 45px;
      }
      &__subtitle{
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.03em;

        color: #FFFFFF;
        margin-bottom: 11px;
      }
      &__text{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 0.01em;
max-width: 375px;
        color: #FFFFFF;
        margin-bottom: 46px;
      }
      .time{
        &-table{
          display: flex;
          justify-content: space-between;
          margin-bottom: 166px;
          &__items{
            .day{
              font-style: normal;
              font-weight: 300;
              font-size: 18px;
              line-height: 25px;
              letter-spacing: 0.03em;

              color: #FFFFFF;
              margin-bottom: 7px;
            }
            .time{
              font-style: normal;
              font-weight: bold;
              font-size: 18px;
              line-height: 25px;
              letter-spacing: 0.03em;
              color: #FFFFFF;

            }
          }
        }
        &-link{
          display: inline-block;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 25px;
          letter-spacing: 0.03em;
          color: #FFFFFF;
          padding: 18px 50px;
          border: 2px solid #FFFFFF;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px;
          transition: 0.6s all;
          &:hover{
            color: rgba(38, 148, 163, 0.92);
            background: #ffffff;
          }
        }
      }
    }
  }
}
