.time {
  padding: 50px 0 160px; }
  .time__title {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    /* identical to box height */
    color: #394E5E;
    margin-bottom: 35px; }
  .time .events {
    width: 144px;
    height: 35px;
    position: relative;
    display: flex;
    background: #819BCA;
    margin-bottom: 20px;
    /* Remove IE arrow */ }
    .time .events:after {
      content: '\2335';
      color: #9F9F9F;
      position: absolute;
      top: 7px;
      right: 13px;
      cursor: pointer;
      pointer-events: none; }
    .time .events select {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      outline: 0;
      box-shadow: none;
      border: 1px solid #EDEDED;
      background-color: #ffffff;
      background-image: none;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      flex: 1;
      padding: 9px 13px;
      cursor: pointer;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      color: #9F9F9F; }
    .time .events select::-ms-expand {
      display: none; }
  .time-table {
    width: 100%;
    border: 1px solid #EDEDED;
    border-spacing: 0; }
    .time-table__header tr td {
      max-width: 144px;
      width: 144px;
      text-align: center;
      padding: 9px 0 12px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 25px;
      letter-spacing: 0.03em;
      color: #8C8C8C;
      border: 1px solid #EDEDED;
      border-left: none;
      border-top: none; }
    .time-table__body tr:nth-child(even) td.time-table__time {
      background: #EDEDED; }
    .time-table__body tr:nth-child(odd) td {
      padding: 29px 0; }
    .time-table__body tr td {
      max-width: 144px;
      padding: 13px 0;
      text-align: center;
      border-right: 1px solid #EDEDED; }
      .time-table__body tr td.docTime {
        padding: 0 5px;
        height: 100%; }
        .time-table__body tr td.docTime .docTime-box {
          display: flex;
          align-items: center;
          justify-content: center; }
          .time-table__body tr td.docTime .docTime-box .text {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 25px;
            /* identical to box height, or 179% */
            letter-spacing: 0.03em;
            color: #FFFFFF;
            margin-bottom: 10px; }
          .time-table__body tr td.docTime .docTime-box .name, .time-table__body tr td.docTime .docTime-box .office {
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 15px;
            /* or 107% */
            letter-spacing: 0.03em;
            color: #FFFFFF; }
          .time-table__body tr td.docTime .docTime-box_paul {
            background: #C45F5F;
            height: 167px; }
          .time-table__body tr td.docTime .docTime-box_hanna {
            height: 244px;
            background: #5890C4; }
          .time-table__body tr td.docTime .docTime-box_adam {
            height: 167px;
            background: #48A57E; }
          .time-table__body tr td.docTime .docTime-box_jenni {
            height: 358px;
            background: #394E5E; }
    .time-table__body tr .add-event .union {
      max-width: 134px;
      height: 33px;
      background: #F8FCFF;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer; }
      .time-table__body tr .add-event .union:hover .activeImg {
        display: none; }
      .time-table__body tr .add-event .union:hover .disabled {
        display: inline; }
      .time-table__body tr .add-event .union .disabled {
        display: none; }
  .time-hiddenTable {
    display: none; }
    .time-hiddenTable__title {
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: 1.3;
      text-align: inherit;
      color: #1e2428; }
    .time-hiddenTable__list {
      margin: 30px; }
    .time-hiddenTable__items {
      position: relative;
      padding-left: 20px;
      margin-bottom: 20px;
      color: #616262;
      font-size: 18px; }
      .time-hiddenTable__items:last-child {
        margin-bottom: 0; }
      .time-hiddenTable__items:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 2px;
        height: 100%;
        background: #00ff00; }
      .time-hiddenTable__items .docDay {
        color: #949494;
        margin-bottom: 10px;
        font-weight: 300; }
      .time-hiddenTable__items p {
        margin-bottom: 10px; }

/*# sourceMappingURL=time.css.map */
